/* 页面基础样式清理 */

header {
	width: 100%;
	/* 简单的灰色渐变背景，可根据需要自行修改颜色 */
	background: linear-gradient(to bottom, #777 0%, #fff 99%);
  	line-height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px;
}

.topbar-wrapper{
	width: 80%;
	margin: 0 auto;
}

.logo{
	font-size: 1.5em;
}

.logo, .topbar-menu li{
	float: left;
	display: flex;
	align-items: center;
}

.topbar-menu {
	float: right;
}

.topbar-menu li a{
	margin-left: 20px;
	
}
































footer {
  width: 100%;
  text-align: center;    /* 文字居中 */
  padding: 20px 0;       /* 上下内边距 */
  background-color: #fff;
  box-sizing: border-box;
}

footer p {
  margin-bottom: 10px;   /* 与图标之间的间距 */
}

/* 图标区域的样式 */
.footer-icons a {
  color: #333;           /* 图标初始颜色 */
  text-decoration: none; /* 去掉下划线 */
  margin: 0 10px;        /* 图标之间的水平间距 */
  font-size: 24px;       /* 图标大小 */
  transition: color 0.3s;
}

/* 悬停时改变图标颜色 */
.footer-icons a:hover {
  color: #000;
}