.hero {
  width: 100%;
  height: 800px;
  background-image:  url('../img/Sports/Athletics/a1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}