<footer>
	    <p>
	      Copyright &copy;
	      Kai 2025. All rights reserved.
	    </p>
	    <div class="footer-icons">
	      <a href="#" aria-label="Home">
	        <i class="fa-solid fa-house"></i>
	      </a>
	      <a href="https://www.instagram.com/mr.monksk/" aria-label="Instagram">
	        <i class="fa-brands fa-instagram"></i>
	      </a>
	      <a href="mailto:laokai_s@126.com" aria-label="Email">
	        <i class="fas fa-envelope"></i>
	      </a>
	      <a href="https://www.xiaohongshu.com/user/profile/60f8b91e0000000001002acc" aria-label="Link">
	        <i class="fa-solid fa-book"></i>
	      </a>
	    </div>
</footer>