<!-- partials/header.html -->
<header>
  <!-- 顶部导航条 -->
  <div class="topbar-wrapper">
    <div class="topbar">
      <!-- 左边logo -->
      <div class="logo">
        <a href="index.shtml">KAISFOTO</a>
      </div>
      <!-- 右侧导航菜单 -->
      <ul class="topbar-menu">
        <li><a href="index.shtml">Home</a></li>
        <li><a href="Sports.shtml">Sports</a></li>
        <li><a href="Events.shtml">Events</a></li>
        <li><a href="Stage.shtml">Stage</a></li>
        <li><a href="Landscape.shtml">Landscape</a></li>
        <li><a href="About.shtml">About</a></li>
      </ul>
    </div>
  </div>
</header>
