<!-- <header>

	  <div class="topbar-wrapper">

	  	<div class="topbar">

	  		<div class="logo">  <a href="index.html">KAISFOTO</a>  </div>
	  		

	  		<ul class="topbar-menu">
				<li><a href="/index.html">Home</a></li>
				<li><a href="/Sports.html">Sports</a></li>
				<li><a href="/Events.html">Events</a></li>
				<li><a href="/Stage.html">Stage</a></li>
				<li><a href="/Landscape.html">Landscape</a></li>
	  		    <li><a href="/About.html">About</a></li>
	  		 </ul>
	  	
	  	</div>
	  	
	  </div>
		
</header> -->



  <!-- 顶部导航 -->
  <header class="topbar">
    <div class="container nav-inner">
		<a class="brand" href="index.html">
		  <img src="logo/KaiMedia.png" alt="Kai Media" class="brand-logo">
		</a>

      <nav class="nav-links">
        <a href="#work">Portfolio</a>
		<a href="Sports.html">Sports</a>
		<a href="Events.html">Events</a>
		<a href="Stage.html">Stage</a>
		<a href="Portrait.html">Portrait</a>
        <a href="About.html" class="btn-small">Contact</a>
      </nav>
    </div>
  </header>